.gallery-top .swiper-wrapper {
  text-align: center;
}

.work-carsouel.crv .work-crsol.swiper {
  overflow: unset;
}

.skill-progress span {
  display: none!important;
}

.modal-video {
  background-color: rgba(0, 0, 0, 0.85) !important;
}

.react-slidedown {
  overflow: hidden;
  transition-duration: 0.4s!important;
}

.c-btn {
  cursor: pointer;
  border-radius: 30px;
  height: 51px;
  min-width: 200px !important;
  max-width: 200px !important;
}

.c-b {
  width: 70%;
  max-width: 1200px;
  margin: auto;
}

.c-c {
  height: 450px;
}

@media (max-width: 768px) {
  .c-c {
    height: 500px;
  }
}

.contact {
  z-index: 99999;
  position: absolute;
  right: 0;
  left: 0;
}

.logo-img {
  width: 50px;
}

.logo-text-light {
  color: #fff;
  font: 24px/24px 'Mulish', sans-serif;
    font-weight: 700;
  cursor: pointer;
}

.logo-text-dark {
  color: #181b31;
  font: 24px/24px 'Mulish', sans-serif;
    font-weight: 700;
  cursor: pointer;
}

.gr-green-text {
  background-image: linear-gradient(110deg, #ff5e57 0%, #409fff 100%) !important;
}
.gr-green-bg {
  background-image: linear-gradient(110deg, #ff5e57 0%, #409fff 100%) !important;
}

.clients-carsouel.shad.up {
  top: 0 !important;
  margin-top: 40px;
}

.link-s {
  color: #0b0b0b !important;
}

.navbar-brand {
    cursor: pointer;
  width: 100%;
  max-width: 200px;
}